.footerLinks h2{
    margin-left: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px 0px;
}
.footerLinks ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
}
.footerLinks ul li{
    padding: 0;
    margin: 0;
    transition: .8s;
}

.footerLinks ul li:hover{
    transform: translateX(8px);
}
.footerLinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.footerLinks ul li:hover svg{
    opacity: 1;
    transition: .7s;
}
.footerLinks ul li a svg{
    font-size: 13px;
    opacity: 0;
}
.footerLinks ul li a:hover{
    color: black;
}