.sirket{
    
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content:  space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 15px;
}
.sirket .sirketLogo img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;

}
.sirket .sirketDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sirket .sirketDescription .sirketTitle h5{
   text-align: center;
}

.sirket .sirketDescription .sirketButton{
    display: flex;
    align-items: center;
}
.sirket .sirketDescription .sirketButton button{
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #286090;
    color: white;

}