
nav{
    padding: 20px 10px 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.my-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoParent{
    display: flex;
}
.menuLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
   
}

.menuLinks a{
    display: block;
    text-decoration: none;
    padding: 10px 22px 10px 22px;  
    width: 100%;
    text-align: center;
}
.menuLinks a:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}
.mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    z-index: 10;
    width: 100%;
    background-color: #f5f5f5;
    transition: right 0.3s ease-in-out;
  }
  .mobileMenu ul{
    list-style: none;
  }
  .mobileMenu ul a{
    text-decoration: none;
    display: block;
    padding: 10px 22px 10px 22px;  
    width: 100%;
    text-align: center;
  }
  .mobileMenu ul a:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
  }
  .mobileMenu.open {
    right: 0;
  }
  .menuIcon{
    display: flex;
    justify-content: flex-end;
  }
  .burgerMenu{
    display: flex;
    justify-content: flex-end;
  }
  .active{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
  }