.basliq {
    font-size: 35px;
}


/* ================== */
/* Tarix ve teskilatci */
/* ================== */

.tarix-teskilatci{
    font-size: .9rem;
}
.teskilatci{
    display: inline-block;
    margin-left: 20px;
}
.teskilatci a{
    color: black;
    display: inline-block;
    transition: .5s;
    text-decoration: none;
}
.teskilatci a:hover{
    margin-left: 10px;
}

.teskilatci a::before{
    content: ">";
    margin-right: 2px;
    opacity: 0;
    transition: .5s;
}
.teskilatci a:hover::before{
    opacity: 1;
}


/* ================== */
/* sosial-linkler     */
/* ================== */


.sosial-linkler{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
.sosial-link{
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 0;
    line-height: 40px;
    border: 2px solid #e6e6e6;
    margin: 0 5px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    color: black;
}

.sosial-link:hover{
    border: 2px solid #000;
}

.meqale{
    padding-right: 15px;
    line-height: 1.5rem;
}